
.container {
    width: 100%;
    margin-top: 20px;
}

.h2 {
  color: black;
}

.filterButtons {
  display: flex;
  margin-bottom: 10px;
}

.filterButtons button {
  background-color: white;
  border: 1px solid grey;
  padding: 1em;
  margin-right: 10px;
  width: 100px;
}

.filterButtons button:hover {
  background-color: #f26c27;
  border: 1px solid rgb(120, 120, 120);
  
}

.filterButtons .filterButtonAll:hover {
  background-color: #e64451;
  border: 1px solid rgb(120, 120, 120);
}

.filterButtons .filterButtonReact:hover {
  background-color: #229880;
  border: 1px solid rgb(120, 120, 120);
}

.filterButtons .filterButtonNextJS:hover {
  background-color: #cb528b;
  border: 1px solid rgb(120, 120, 120);
}

.filterButtons .filterButtonAPI:hover {
  background-color: #1a9fd4;
  border: 1px solid rgb(120, 120, 120);
}


.cardscontainer {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    width: 100%;
    height: 400px;
    margin: 10px 20px 10px 0;
    border-radius: 12px;
    padding: 1rem;
    background-color: #efebe9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.354);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 500px; 
  }
  
  .projectImage {
    object-fit: cover;
    border-radius: 8px;
  }

  .tags {
    list-style: none;     
    padding: 0;           
    margin: 0;            
    display: flex;        
    gap: 0.5rem; 
  }

  .tags li {
    background-color: rgba(255, 255, 255, 0.797);
    border: 1px solid grey;
    border-radius: 12px;
    padding: 8px;
  }

  .links {
    list-style: none;     
    padding: 0;           
    margin: 0;            
    display: flex;        
    gap: 0.5rem; 
  }

  .links li {
    background-color: rgba(255, 255, 255, 0.797);
    border: 1px solid grey;
    padding: 8px;
  }

  @media (min-width: 768px) {
    .cards {
        width: 21%;
    }
  }


  /* 
Pink/red ACOTAR: #e64451
green Must and Fury: #229880
blue Frost and Starlight: #1a9fd4
orange Silverflames: #f26c27
grey Silverflames: #6e6c6d
purple Wings and Ruin: #cb528b
 */