.navigation {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 60px;
    margin: 8px;
}

.navigation a {
    color: black;
    font-size: 16px;
    margin-right: 10px;
    padding: 1em;
}

.navigation .navHome:hover {
    background-color: #e64451;
}

.navigation .navAbout:hover {
    background-color: #229880;
}

.navigation .navContact:hover {
    background-color: #cb528b;
}